body {
    background-color: rgb(43, 43, 255);
    font: normal 15pt arial;
}

header {
    color: rgb(255, 255, 255);
    text-align: center;
}

section {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.678) ;
    margin: auto;
    padding: 15px;
    width: 500px;
}

div {
    text-align: center;
    padding: 10px;
}

footer {
    color: rgb(255, 255, 255);
    font: normal 10pt arial;
    text-align: center;
}

img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}